* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.card{
height: 350px;
width: 100%;
max-width: 850px;
margin:5% 22%;
background-color: #ffffff;
border-radius: 25px;
box-shadow: 0px 10px 50px rgba(0,0,0,.3);
}

.card .inner_part{display: flex;
align-items: center;
justify-content: center;
padding: 0px 0px 0px 30px;
height: 350px;
position: absolute;}

#slideImg:checked ~ .inner_part{padding: 0px ;
transition: .1s ease-in;
}

.inner_part .img{height: 260px;
width: 260px;
overflow: hidden;
flex-shrink: 0;
border-radius: 20px;
box-shadow: 0 10px 50px rgba(0,0,0,.2);
}


#slideImg:checked ~ .inner_part .img{height: 350px;
width: 850px;
z-index: 99;
transition: .3s .2s ease-in;
}


.img img{height: 100%;
width: 100%;
cursor: pointer;
opacity: 0;
transition: .6s;
}

#slide_1:checked ~ .inner_part .img_1 , #slide_2:checked ~ .inner_part .img_2 ,
#slide_3:checked ~ .inner_part .img_3{
	opacity: 1;
	transition-delay: .2s;

}

.content{padding: 0px 20px 0px 35px;
	width: 530px;
	margin-left: 50px;
	opacity: 0;
	transition: .6s;
}

#slide_1:checked ~ .inner_part .content_1 , 
#slide_2:checked ~ .inner_part .content_2 ,
#slide_3:checked ~ .inner_part .content_3{
	opacity: 1;
	margin-left: 0;
	z-index: 100;
	transition-delay: .3s;
}
.title{font-family:'Roboto', sans-serif;
font-size: 19px;
font-weight:600;
text-transform:uppercase;}

.content .text{font-size: 19px;
color:#4e4ac7;
margin:0 auto 30px auto;
line-height: 1.5em;
text-align: justify;
font-family:'Roboto', sans-serif;
}


.content button{padding: 15px 20px;
border: none;
font-size: 16px;
color: #fff0e6;
font-weight:600;
letter-spacing: 1px;
border-radius: 50px;
cursor: pointer;
outline: none;
background-color: #000000;
box-shadow: 0px 10px 50px rgba(0,0,0,0.2);
float: right;
}



.slider{position: absolute;
bottom: 25px;
left: 55%;
transform: translateX(-50%);
z-index: 1;}

#slideImg:checked ~ .slider{display: none;
}

.slider .slide{position: relative;
height: 10px;
width: 50px;
background-color: #d9d9d9;
border-radius: 5px;
display: inline-flex;
margin:0 3px;
cursor: pointer;}

.slider .slide:before{position: absolute;
content: '';
top: 0;
left: 0;
height: 100%;
width: -100%;
background-color: #000000;
border-radius: 10px;
transform: scaleX(0);
transition: transform 0.6s;
transform-origin: left;
}

#slide_1:checked ~ .slider .slide_1:before ,
#slide_2:checked ~ .slider .slide_2:before ,
#slide_3:checked ~ .slider .slide_3:before {
	transform:scaleX(1);
	width: 100%;

}

input{display: none;
}

.content button:hover{background-color: #cecece;
color: #000000;}





.menu-list {
    position: fixed;
    top: 20%; 
    left: 0; 
    transform: translateY(-50%); 
    z-index: 999;
}

ul.menu {
    display: inline-block;
    list-style-type: none;
   	position:fixed;
   
   }
li.menu_list {
    height: 85px;
    width: 85px;
    position: relative;
}
li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}
li.menu_list .front {
    background-color: black;
    color: rgb(242, 145, 10);
    transform-origin: 0 0;
    font-size:20px;
}
a.side {
    background-color:  #4c4e53;
    color: white;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
    transform: rotateY(0deg);
}

li.menu_list:hover .front {
    transform: rotateY(90deg);
}

.main-container{
	display: flex;
    align-items: center;
    justify-content: center;
}

.main-container img{
	width:50%;
}



.table{
	background-color:rgb(225,230,230);
	padding:10px;
	border-radius:5px;
}

.responsive-table li {
  border-radius: 3px;
  padding: 6px 0px;
  display: flex;
  margin-bottom: 10px;
}

.responsive-table .table-header {
  background-color:#4c4e53;
  color:white;
  font-size: 12px;
  font-weight:bold;
  text-transform: uppercase;
  text-align:center;
  
}

.responsive-table .table-row {
  background-color: white;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  text-align:center;
  font-size:12px;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');



h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

#profile{
	padding-top:10px 0;
	background-image: linear-gradient(white, grey,white);
	
}

.card-container {
	background-color: black;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding: 30px;
	position:relative;
	width: 50%;
	max-width: 100%;
	text-align: center;
	margin:20% 25%;
}


.card-container .round {
	border: 1px solid rgb(242, 145, 10);
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	
	border: 1px solid rgb(242, 145, 10);
	border-radius: 3px;
	color: rgb(242, 145, 10);
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: rgb(242, 145, 10);
}

.register {
	
    background-image:url("https://th.bing.com/th/id/R.436896e51cc35920e8c4664bee7189b4?rik=ynrHeGvdrFupNA&riu=http%3a%2f%2fallstarmotorsok.com%2fwp-content%2fuploads%2f2021%2f06%2ftips-and-tricks-for-making-long-car-journeys-less-boring-2021-1.jpg&ehk=jMkjO4C3ZS51u%2bImwYP26Xmef0kfb8cMT6ni6987tcs%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 10%;
    padding: 3%;
}



.register-container {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    margin-left:20%;
}

.deleteButton{
	border:none;
}

.deleteButton .fa-trash{
	color:#f40b57;
}

.fa-eye{
	color:#42bd59;
}



@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}


.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}




footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}


body {
  font-family: "lato", sans-serif;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}

