* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.wrapper-menu{
	background-color:#4c4e53;
	height:100vh;
	width:6%;
	position: fixed;
z-index: 999;
}

.menu-list {
    position: fixed;
    top: 20%; 
    left: 0; 
    transform: translateY(-50%); 
    z-index: 999;
}

ul.menu {
    display: inline-block;
    list-style-type: none;
   	position:fixed;
   
   }
li.menu_list {
    height: 85px;
    width: 85px;
    position: relative;
}
li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}
li.menu_list .front {
    background-color: black;
    color: rgb(242, 145, 10);
    transform-origin: 0 0;
    font-size:20px;
}
a.side {
    background-color:  #4c4e53;
    color: white;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
    transform: rotateY(0deg);
}
li.menu_list:hover .front {
    transform: rotateY(90deg);
}

.main-container{
	display: flex;
    align-items: center;
    justify-content: center;
}

.main-container img{
	width:20%;
	
}

.sec{
	height:100vh;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');



h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding: 30px;
	position: relative;
	width: 50%;
	max-width: 100%;
	text-align: center;
	margin:5% 25%;
}


.card-container .round {
	border: 1px solid rgb(242, 145, 10);
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	
	border: 1px solid rgb(242, 145, 10);
	border-radius: 3px;
	color: rgb(242, 145, 10);
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: rgb(242, 145, 10);
}





footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}


body {
  font-family: "lato", sans-serif;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}

